html,
body {
  width: 100%; height: 100%;
}

html {
  background-color: $white;
}

body {
  @include font-sans;
  color: $black;
  font-size: 12px;
  min-width: 320px;
  overflow-x: hidden;
  position: relative;
  z-index: 0;

  &:not(.home) {
    main > div:first-of-type {
      flex: 1;
    }
  }

  &.home {
    @media (min-width: 1001px) {
      main > div:first-of-type {
        display: grid;
        grid-gap: 0;
        grid-template-areas:
          "header header header"
          "features features features"
          "intro intro github"
          "docs docs github"
          "contribute contribute contribute"
          "develop develop develop"
          "community community community";
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 4rem;
}

.inner-wrap {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;

  @media (min-width: 901px) {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  @media (max-width: 900px) {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  &::after {
    @include clearfix;
  }
}

h1, h2, h3, h4, h5 {
  .header-anchor {
    display: none;
  }
}

hr {
  width: 100%; height: 1px;

  background-color: rgba($gray, 0.3);
  border: none;
  margin-bottom: 1rem;
}

.alert {
  bottom: 0; left: 0;

  background-color: $yellow;
  line-height: 1.33;
  padding-top: 1rem;
  padding-right: env(safe-area-inset-right);
  padding-bottom: 1rem;
  padding-left: env(safe-area-inset-left);
  position: fixed;
  text-align: left;
  width: 100%;
  z-index: 3;

  > div:first-of-type {
    position: relative;
  }

  @media (min-width: 901px) {
    font-size: 1rem;
  }

  @media (max-width: 900px) {
    font-size: 0.8rem;
  }

  p, button {
    display: inline-block;
  }

  p {
    padding-right: 1rem;
    width: calc(100% - 2.25rem);
  }

  a {
    font-weight: 600;
    text-decoration: underline;
  }

  button {
    width: 1.25rem; height: 1.25rem;
    top: 0; right: 0;

    background-color: $white;
    border-radius: 50%;
    display: block;
    font-size: 1rem;
    line-height: 1;
    margin-right: 1rem;
    margin-left: 1rem;
    // padding-left: 1px; // TODO: Enable this for low-dpi displays
    position: absolute;
    text-align: center;
  }
}
