.home {
  h1, h2 {
    text-align: center;
  }

  h1 {
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  h2 {
    font-weight: 400;
    margin-bottom: 4rem;
  }

  hr {
    width: 100%; height: 1px;

    background-color: rgba($black, 0.1);
    border: none;
    margin-bottom: 4rem;
  }

  &.hero {
    align-items: center;
    background-color: $black;
    background-image: url("../media/svg/text-logo--white.svg");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    height: calc(50vh - 4rem);
    justify-content: center;

    h2 {
      background-color: $white;
      border: 1px solid rgba($black, 0.1);
      box-decoration-break: clone;
      display: inline;
      line-height: 2;
      padding: 0.4rem 1rem;
    }
  }

  &.features {
    .home__features {
      align-content: center;
      border-bottom: 1px solid rgba($black, 0.05);
      display: flex;
      flex-flow: row wrap;
      list-style-type: none;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    .home__feature {
      position: relative;
      text-align: center;
      vertical-align: top;
      width: 50%;
    }



    .home__feature__title {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }

    .home__feature__description {
      font-size: 1rem;
      left: 10%;
      margin-bottom: 1rem;
      position: relative;
      width: 80%;
    }

    .home__feature__cta {
      @extend .__button-black;
      display: inline-block;
      font-size: 1rem;
      position: relative;
    }
  }

  &.intro,
  &.docs,
  &.contribute,
  &.develop,
  &.community {
    padding-top: 3rem;
    padding-bottom: 3rem;

    h3 {
      @extend .inner-wrap;
      font-size: 3rem;
    }
  }

  &.intro,
  &.docs,
  &.contribute,
  &.develop {
    border-bottom: 1px solid rgba($black, 0.05);
  }
}
