.home {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);

  h1, h2 {
    text-align: center;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  h2 {
    font-weight: 400;
    margin-bottom: 4rem;

    @media (min-width: 851px) {
      font-size: 1.75rem;
    }

    @media (max-width: 850px) {
      font-size: 1.25rem;
    }
  }

  hr {
    width: 100%; height: 1px;

    background-color: rgba($black, 0.1);
    border: none;
    margin-bottom: 4rem;
  }

  &.hero {
    align-items: center;
    background-color: $black;
    background-image: url("../media/svg/text-logo--white.svg");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    height: calc(50vh - 4rem); min-height: 300px;
    justify-content: center;

    @media (max-width: 850px) {
      background-size: cover;
    }

    h2 {
      background-color: $white;
      border: 1px solid rgba($black, 0.1);
      box-decoration-break: clone;
      display: inline;
      line-height: 2;
      padding: 0.4rem 1rem;
    }
  }

  &.alert {
    background-color: $yellow;
    line-height: 1.33;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;

    @media (min-width: 901px) {
      font-size: 1rem;
    }

    @media (max-width: 900px) {
      font-size: 0.8rem;
    }

    a {
      font-weight: 600;
    }
  }

  &.features {
    .home__features {
      align-content: center;
      border-bottom: 1px solid rgba($black, 0.05);
      display: flex;
      flex-flow: row wrap;
      list-style-type: none;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    .home__feature {
      position: relative;
      text-align: center;
      vertical-align: top;

      @media (min-width: 651px) {
        width: 50%;
      }

      @media (max-width: 650px) {
        width: 100%;

        &:first-of-type {
          padding-bottom: 1rem;
        }

        &:last-of-type {
          padding-top: 1rem;
        }
      }
    }



    .home__feature__title {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }

    .home__feature__description {
      font-size: 1rem;
      left: 10%;
      margin-bottom: 1rem;
      position: relative;
      width: 80%;
    }

    .home__feature__cta {
      @extend .__button-black;
      display: inline-block;
      font-size: 1rem;
      position: relative;
    }
  }

  &.intro,
  &.docs,
  &.contribute,
  &.develop,
  &.community {
    padding-top: 3rem;
    padding-bottom: 3.5rem;

    .inner-wrap {
      position: relative;
    }

    h3 {
      letter-spacing: 0.1rem;
      line-height: 1;
      text-transform: uppercase;

      @media (min-width: 1301px) {
        top: -0.85rem; left: -2rem;

        color: rgba($black, 0.045);
        font-size: 4rem;
        position: absolute;
      }

      @media (max-width: 1300px) {
        color: $black;
      }

      @media (min-width: 901px) and (max-width: 1300px) {
        font-size: 3rem;
      }

      @media (max-width: 900px) {
        font-size: 2rem;
        margin-bottom: 1rem;
      }
    }

    p {
      margin-bottom: 1.5rem;
      max-width: 1000px;

      @media (min-width: 901px) {
        font-size: 1.5rem;
        line-height: 1.55;
      }

      @media (max-width: 900px) {
        font-size: 1.25rem;
        line-height: 1.33;
      }

      &:first-of-type {
        padding-top: 0.5rem;
      }
    }

    .cta {
      @extend .__button-black;
      top: 0.5rem;
    }
  }

  &.intro,
  &.docs,
  &.contribute,
  &.develop {
    border-bottom: 1px solid rgba($black, 0.05);
  }

  &.community,
  &.contribute {
    p {
      @media (min-width: 1301px) {
        margin-right: auto;
        margin-left: auto;
        text-align: center;
      }
    }

    ul {
      list-style-type: none;
      padding-top: 1rem;

      &::after {
        @include clearfix;
      }

      @media (min-width: 901px) {
        font-size: 1.5rem;
      }

      @media (min-width: 751px) and (max-width: 900px) {
        font-size: 1.25rem;
      }

      @media (max-width: 750px) {
        font-size: 1rem;
      }

      li {
        float: left;
        position: relative;
        text-align: center;

        @media (max-width: 750px) {
          margin-bottom: 2rem;
          min-width: 8rem;
        }

        a {
          display: block;
          position: relative;
          padding-top: 4rem;
          transition: color 0.2s;

          &::before {
            width: 100%; height: 100%;

            background-position: center 0;
            background-repeat: no-repeat;
            content: "";
            left: 0;
            position: absolute;
          }

          &:not(:hover) {
            color: inherit;
          }

          &:hover {
            color: $teal;
          }
        }
      }
    }
  }

  &.contribute {
    ul {
      li {
        width: calc(100% / 5);

        a::before {
          @media (min-width: 901px) {
            background-size: 4rem;
            top: -1rem;
          }

          @media (max-width: 900px) {
            background-size: 3rem;
            top: 0;
          }
        }

        &:nth-child(1) a::before {
          background-image: url("../media/svg/flag.svg");
        }

        &:nth-child(2) a::before {
          background-image: url("../media/svg/keyboard.svg");
        }

        &:nth-child(3) a::before {
          background-image: url("../media/svg/anchor.svg");
        }

        &:nth-child(4) a::before {
          background-image: url("../media/svg/chat.svg");
        }

        &:nth-child(5) a::before {
          background-image: url("../media/svg/monitor.svg");
        }
      }
    }
  }

  &.community {
    ul {
      li {
        width: calc(100% / 3);

        a::before {
          @media (min-width: 901px) {
            background-size: 6rem;
            top: -2rem;
          }

          @media (max-width: 900px) {
            background-size: 4rem;
            top: -0.5rem;
          }
        }

        &:nth-child(1) a::before {
          background-image: url("../media/svg/discord.svg");
        }

        &:nth-child(2) a::before {
          background-image: url("../media/svg/reddit.svg");
        }

        &:nth-child(3) a::before {
          background-image: url("../media/svg/slack.svg");
        }
      }
    }
  }
}
