.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}



.page__header-wrap {
  width: 100%;
}

.page__header {
  @include center;
  background-image: url("../media/images/background-a.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  padding-right: env(safe-area-inset-right);
  padding-left: env(safe-area-inset-left);
  position: relative;
  width: 100%;
}

.page__header__title {
  font-weight: 300;
  line-height: 6.5rem;
  text-shadow: 1px 1px 2px rgba($black, 0.3);

  @media (min-width: 901px) {
    font-size: 3rem;
  }

  @media (max-width: 900px) {
    font-size: 2rem;
  }
}



.page__content {
  background-image: url("../media/images/grid.png");
  background-repeat: repeat;
  background-size: 32px;
  flex: 1;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: env(safe-area-inset-right);
  padding-left: env(safe-area-inset-left);

  h1 {
    font-size: 2rem;
    margin-bottom: 0.25rem;

    + h2 {
      margin-bottom: 2rem;
    }
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }

  p, ol, ul, table {
    code {
      background-color: $black;
      border-radius: 3px;
      color: $white;
      font-size: 60%;
      letter-spacing: 0.05rem;
      padding: 0.3rem 0.5rem;
      vertical-align: middle;
    }
  }

  p, ol, ul {
    line-height: 1.33;
    margin-bottom: 2rem;
    position: relative;

    @media (min-width: 901px) {
      font-size: 1.25rem;
    }

    @media (max-width: 900px) {
      font-size: 1.05rem;
    }
  }

  ol {
    list-style-type: lower-roman;
    padding-left: 1.6rem;
  }

  ul {
    padding-left: 1.25rem;
  }

  p {
    img {
      float: right;
    }
  }

  a:not(.button) {
    color: $teal;
    position: relative;

    &::after {
      width: 100%; height: 1px;

      background-color: currentColor;
      content: "";
      left: 0;
      position: absolute;
      transition: all 0.2s;
    }

    &:not(:hover)::after {
      bottom: 0;
      opacity: 0;
    }

    &:hover::after {
      bottom: 3px;
      opacity: 1;
    }
  }

  pre {
    margin-bottom: 2rem; padding: 2rem;

    background-color: $black;
    border-radius: 3px;
    color: $white;
    font-size: 1rem;
    line-height: 1.33;
  }

  table {
    background-color: $white;
    border: 1px solid rgba($gray, 0.3);
    margin-bottom: 2rem;

    th, td {
      padding: 1rem;
    }

    th {
      border-bottom: 1px solid rgba($gray, 0.3);
      font-size: 0.8rem;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
    }

    td {
      font-size: 1rem;
    }

    tbody {
      tr:not(:last-of-type) td {
        border-bottom: 1px solid rgba($gray, 0.3);
      }
    }
  }
}
