.flashes {
  width: 100%;
  top: 4rem; right: 0;

  position: absolute;
  z-index: 9;
}

.flash {
  padding: 0.5rem 1rem;
  right: 2rem;

  border: 2px solid;
  border-radius: 3px;
  font-size: 1rem;
  line-height: 1.33;
  position: absolute;

  &:not(.error):not(.info):not(.warning) {
    background-color: $lbry-teal-1;
    border-color: $lbry-teal-3;
  }

  &:not(.active) {
    transform: translateY(-4rem);
  }

  &.active {
    animation: slide-down 2s linear;
    transform: translateY(-4rem);
  }

  &.error {
    background-color: $lbry-red-1;
    border-color: $lbry-red-3;
  }

  &.info {
    background-color: $lbry-gray-1;
    border-color: $lbry-gray-3;
  }

  &.warning {
    background-color: $lbry-yellow-1;
    border-color: $lbry-yellow-3;
  }
}
