.link-grid {
  align-content: center;
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
}

.link-grid__link {
  flex-grow: 1;
  margin-bottom: 2rem;
  position: relative;
  text-align: center;
  vertical-align: top;

  @media (min-width: 651px) {
    width: 50%;
  }

  @media (max-width: 650px) {
    width: 100%;

    &:first-of-type {
      padding-bottom: 1rem;
    }

    &:last-of-type {
      padding-top: 1rem;
    }
  }
}

.link-grid__title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.link-grid__description {
  width: 80%;
  left: 10%;

  font-size: 1rem;
  margin-bottom: 1rem;
  position: relative;
}

.link-grid__cta {
  @extend .__button-black;
  display: inline-block;
  font-size: 1rem;
  position: relative;
}
