.component--mission-statement {
  padding: 1rem 1rem 1rem 1.25rem;

  background-color: rgba($lbry-teal-1, 0.3);
  border-left: 0.5rem solid $lbry-teal-3;
  line-height: 1.55;
  margin-bottom: 1.5rem;
  position: relative;
  user-select: text;

  -ms-user-select: text;
  -moz-user-select: text;
  -webkit-user-select: text;

  @media (min-width: 901px) {
    font-size: 1.25rem;
  }

  @media (max-width: 900px) {
    font-size: 1.05rem;
  }
}

.component--mission-statement__title {
  color: $lbry-teal-3;
  display: block;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
}
