.component--mission-statement {
  padding: 1rem 1rem 1rem 1.25rem;

  background-color: rgba($teal, 0.1);
  border-left: 0.5rem solid $teal;
  line-height: 1.55;
  margin-bottom: 1.5rem;
  position: relative;

  @media (min-width: 901px) {
    font-size: 1.25rem;
  }

  @media (max-width: 900px) {
    font-size: 1.05rem;
  }
}

.component--mission-statement__title {
  color: $teal;
  display: block;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
}
