pre {
  padding: 2rem;

  line-height: 1.33;
  margin-bottom: 2rem;
  overflow-x: auto;
  overflow-y: hidden;

  &:not([class]),
  &.language-text {
    background-color: #27283e;
    color: $white;
  }

  &.language-yaml {
    background-color: #27273f;
    color: #ffe066;

    .atrule {
      color: #f083ac;
    }

    .important {
      color: #ffa94d;
    }

    .punctuation {
      color: $white;
    }
  }
}
