pre {
  line-height: 1.33;
  margin-bottom: 2rem;
  overflow-x: auto;
  overflow-y: hidden;

  @media (min-width: 801px) {
    padding: 2rem;
  }

  @media (max-width: 800px) {
    padding: 1rem;
  }

  &:not([class]),
  &.language-text {
    background-color: #27283e;
    color: $lbry-white;
  }

  &.language-yaml {
    background-color: #27273f;
    color: #ffe066;

    .atrule {
      color: #f083ac;
    }

    .important {
      color: #ffa94d;
    }

    .punctuation {
      color: $lbry-white;
    }
  }
}
