.glossary {
  main {
    margin-left: 200px;
    width: calc(100vw - 200px);
  }

  .page__header-wrap,
  .page__content {
    .inner-wrap {
      margin-left: 1rem;
      max-width: initial;
    }
  }
}



.component--glossary-toc {
  width: 200px; height: calc(100vh - 4rem);
  top: 4rem; left: 0;

  background-color: $white;
  border-right: 1px solid rgba($gray, 0.3);
  font-size: 0.8rem !important;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 1rem !important;
  position: fixed !important;
  z-index: 1;

  li:last-of-type {
    margin-bottom: 1rem;
  }
}
