html,
body {
  width: 100%; height: 100%;
}

html {
  background-color: $white;
}

body {
  @include font-sans;
  color: $black;
  font-size: 12px;
  min-width: 320px;
  overflow-x: hidden;
  position: relative;
  z-index: 0;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 4rem;

  &:not(.home) {
    > div:first-of-type {
      flex: 1;
    }
  }

  &.home {
    @media (min-width: 1001px) {
      > div:first-of-type {
        display: grid;
        grid-gap: 0;
        grid-template-areas:
          "header header header"
          "features features features"
          "intro intro github"
          "docs docs github"
          "contribute contribute contribute"
          "develop develop develop"
          "community community community";
      }
    }
  }
}

.inner-wrap {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;

  @media (min-width: 901px) {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  @media (max-width: 900px) {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  &::after {
    @include clearfix;
  }
}

h1, h2, h3, h4, h5 {
  .header-anchor {
    display: none;
  }
}
