// sass-lint:disable indentation
//  400

@font-face {
  font-family: "Inter UI";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/type/inter/variable.woff2") format("woff2-variations"),
       url("../assets/type/inter/400.woff2") format("woff2"),
       url("../assets/type/inter/400.woff") format("woff");
}

@font-face {
  font-family: "Inter UI";
  font-style: italic;
  font-weight: 400;
  src: url("../assets/type/inter/variable.woff2") format("woff2-variations"),
       url("../assets/type/inter/400i.woff2") format("woff2"),
       url("../assets/type/inter/400i.woff") format("woff");
}

//  700

@font-face {
  font-family: "Inter UI";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/type/inter/variable.woff2") format("woff2-variations"),
       url("../assets/type/inter/700.woff2") format("woff2"),
       url("../assets/type/inter/700.woff") format("woff");
}

@font-face {
  font-family: "Inter UI";
  font-style: italic;
  font-weight: 700;
  src: url("../assets/type/inter/variable.woff2") format("woff2-variations"),
       url("../assets/type/inter/700i.woff2") format("woff2"),
       url("../assets/type/inter/700i.woff") format("woff");
}

// Single variable font

@font-face {
  font-family: "Inter UI Variable";
  font-weight: 400 900;
  src: url("../assets/type/inter/variable.woff2") format("woff2-variations"),
       url("../assets/type/inter/variable.woff2") format("woff2");
}
