html,
body {
  width: 100%; height: 100%;
}

html {
  background-color: $lbry-white;
}

body {
  @include font-sans;
  min-width: 320px;

  color: $lbry-black;
  font-size: 12px;
  overflow-x: hidden;
  position: relative;
  z-index: 0;
}

main {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  padding-top: 4rem;
}

.inner-wrap {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 901px) {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  @media (max-width: 900px) {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  &::after {
    @include clearfix;
  }
}

h1,
h2,
h3,
h4,
h5 {
  .header-anchor {
    display: none;
  }
}

hr {
  width: 100%; height: 1px;

  background-color: $lbry-gray-2;
  border: none;
  margin-bottom: 1rem;
}

code {
  @include font-mono;
}

.alert {
  width: 100%;
  bottom: 0; left: 0;

  background-color: $lbry-yellow-3;
  line-height: 1.33;
  padding-top: 1rem;
  padding-right: env(safe-area-inset-right);
  padding-bottom: 1rem;
  padding-left: env(safe-area-inset-left);
  position: fixed;
  text-align: left;
  z-index: 3;

  > div:first-of-type {
    position: relative;
  }

  @media (min-width: 901px) {
    font-size: 1rem;
  }

  @media (max-width: 900px) {
    font-size: 0.8rem;
  }

  p,
  button {
    display: inline-block;
  }

  p {
    width: calc(100% - 2.25rem);
    padding-right: 1rem;
  }

  a {
    font-weight: 600;
    text-decoration: underline;
  }

  button {
    width: 1.25rem; height: 1.25rem;
    top: 0; right: 0;

    background-color: $lbry-white;
    border-radius: 50%;
    display: block;
    font-size: 1rem;
    line-height: 1;
    margin-right: 1rem;
    margin-left: 1rem;
    // padding-left: 1px; // TODO: Enable this for low-dpi displays
    position: absolute;
    text-align: center;
  }
}
