@include font-face(400, "./type/inter", "Inter UI");
@include font-face(700, "./type/inter", "Inter UI");

html,
body {
  width: 100%; height: 100%;
}

html {
  background-color: $lbry-white;
}

body {
  @include font-sans;
  min-width: 320px;

  color: $lbry-black;
  font-size: 12px;
  overflow-x: hidden;
  position: relative;
  z-index: 0;
}

main {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  padding-top: 4rem;
}

.inner-wrap {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 901px) {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  @media (max-width: 900px) {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  &::after {
    @include clearfix;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;

  .header-anchor {
    display: none;
  }
}

hr {
  width: 100%; height: 1px;

  background-color: $lbry-gray-2;
  border: none;
  margin-bottom: 1rem;
}

code {
  @include font-mono;
}
