.documentation {
  ol + h1,
  ul + h1 {
    padding-top: 2rem;
  }

  h4 + h2 {
    padding-top: 2rem;
  }



  .blog-post__title {
    display: inline-block;
    position: relative;

    &::after {
      content: "";
      display: block;
    }
  }

  .blog-post__meta {
    font-size: 80%;
    line-height: 1;
    margin-bottom: 1rem;
  }

  .blog-post__meta__author {
    &::before {
      content: "by";
      left: -1.2rem;
    }
  }

  .blog-post__meta__date {
    margin-right: 1.4rem;
    margin-left: 3.1rem;

    &::before {
      content: "posted";
      left: -3.1rem;
    }
  }

  .blog-post__meta__author,
  .blog-post__meta__date {
    display: inline-block;
    position: relative;

    &::before {
      color: rgba($black, 0.5);
      font-style: italic;
      position: absolute;
      vertical-align: bottom;
    }
  }
}
