$white:   #fff;
$silver:  #f1f3f5;
$black:   #212529;
$gray:    #ced4da;
$teal:    #38d9a9;
$cyan:    #3bc9db;
$blue:    #339af0;
$indigo:  #748ffc;
$violet:  #9775fa;
$fuchsia: #da77f2;
$pink:    #f783ac;
$red:     #e03131;
$orange:  #ff922b;
$yellow:  #ffe066;
$lime:    #a9e34b;
$green:   #51cf66;
