$white:   #fff;
$silver:  #e3e3e3;
$black:   #222; // #3e3e42;
$gray:    #96a1ae;
$teal:    #27d27d;
$cyan:    #27d2d2;
$blue:    #277cd2;
$indigo:  #2727d2;
$violet:  #7c27d2;
$fuchsia: #d227d2;
$pink:    #d2277d;
$red:     #d22727;
$orange:  #d27c27;
$yellow:  #d2d227;
$lime:    #7dd227;
$green:   #27d227;
