developer-program {
  @extend %markdown;

  input-submit {
    padding-top: 0.5rem;

    button {
      color: $lbry-white;
      padding-right: 1.5rem;
      padding-left: 1.5rem;
      transition: background-color 0.2s;

      &:not(:hover) {
        background-color: $lbry-black;
      }

      &:hover {
        background-color: $lbry-teal-4;
      }
    }
  }

  .button {
    margin: 1rem auto;
    display: block;
  }

  small {
    display: block;
    font-size: 0.8rem;
    text-align: center;
  }
}
