developer-program {
  @extend %markdown;

  input-submit {
    // TODO: FIX THIS
    // Entire block should not be here but something went wrong with the components
    padding-top: 0.5rem;

    input {
      padding-right: var(--spacing-s);
      padding-left: var(--spacing-s);
      transition: border 0.2s;
    }

    button {
      background-color: $lbry-black;
      border-color: $lbry-black;
      color: $lbry-white;
      padding-right: var(--spacing-m);
      padding-left: var(--spacing-m);
      transition: all 0.2s;
    }
  }

  .button {
    margin: 1rem auto;
    display: block;
  }

  small {
    display: block;
    font-size: 0.8rem;
    text-align: center;
  }
}
