developer-program {
  @extend %markdown;

  input-submit {
    padding-top: 0.5rem;
  }

  .button {
    margin: 1rem auto;
    display: block;
  }

  small {
    display: block;
    font-size: 0.8rem;
    text-align: center;
  }
}
