.page {
  height: 100%;

  display: flex;
  flex: 1;
  flex-direction: column;
}

.page__header-wrap {
  width: 100%;
}

.page__header {
  @include center;
  width: 100%;

  background-color: $lbry-black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $lbry-white;
  padding-right: env(safe-area-inset-right);
  padding-left: env(safe-area-inset-left);
  position: relative;
}

.page__header__title {
  font-weight: 300;
  text-shadow: 1px 1px 2px rgba($lbry-black, 0.3);

  @media (min-width: 901px) {
    font-size: 3rem;
    line-height: 6.5rem;
  }

  @media (max-width: 900px) {
    font-size: 2rem;
    line-height: 1;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.page__content {
  flex: 1;
  padding-top: 2rem;
  padding-right: env(safe-area-inset-right);
  padding-bottom: 2rem;
  padding-left: env(safe-area-inset-left);
}

.page__markup {
  @extend %markdown;
}
