$white:   #fcfcfc;
$black:   #222;

$gray:    #a3b7ad;
$yellow:  #dbdb3e;
$lime:    #8ddb3e;
$green:   #3edb3e;
$teal:    mix($black, #3edb8d, 15%); // #3edb8d
$cyan:    #3edbdb;
$blue:    #3e8cdb;
$indigo:  #3e3edb;
$violet:  #8c3edb;
$fuchsia: #db3edb;
$pink:    #db3e8d;
$red:     #db3e3e;
$orange:  #db8c3e;

// via https://palx.jxnblk.com/3edb8d
